// Colors
$white: #FFFFFF;
$black: hsla(0, 0%, 8%, 0.6);
$red-light: hsla(13, 84%, 52%, 1);
$red-dark: hsla(13, 84%, 42%, 1);
$grey-light: hsla(0, 0%, 52%, 1);
$grey-dark: hsla(0, 0%, 21%, 0.6);
$keyboard-bg: hsla(0, 0%, 75%, 1);
// Fonts
$Roboto: 'Roboto', sans-serif;
// Breakpoints
$breakpoints: (
  xs: 18.75rem, // 300
  // sm: 32rem, // 512
  md: 48rem, // 768
  lg: 80rem, // 1280
  xl: 100rem,// 1600
);
$main-font-size: 16px;
// Effects
$transition: all 0.3s;
// Box shadow
$red-shadow:  inset -4px -4px 1px 8px #C53811;
$grey-shadow:  inset -4px -4px 1px 8px rgba(53, 53, 53, 0.6);
$keyboard-shadow: 0px 10px 2px 10px rgba(21, 21, 21, 0.6);
// Border radius
$border-r: 10px;
// Root
:root {
  --white: #{$white};
  --black: #{$black};
  --red-light: #{$red-light};
  --red-dark: #{$red-dark};
  --grey-light: #{$grey-light};
  --grey-dark: #{$grey-dark};
  --keyboard-bg: #{$keyboard-bg};
}