@use '../2-helpers/' as *;
.keyboard {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 6%;
  width: 1200px;
  max-width: 100%;
  height: 400px;
  background-color: var(--grey-light);
  border-radius: $border-r;
  box-shadow: $keyboard-shadow;
  transform: translateX(-50%);
  transition: $transition;
  &__row {
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  &__key {
    width: 78px;
    height: 78px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: $border-r;
    transition: all 0.2s;
    transform: rotateX(20deg);
    position: relative;
    margin-inline: 3px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), 
      inset 0px -8px 8px rgba(0, 0, 0, 0.25), 
      0 0 0 2px rgba(0, 0, 0, 0.75), 
      10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    img {
      width: 20px;
      height: 20px;
      position: relative;
      display: block;
      margin-top: -6px;
      margin-bottom: 10px;
      transition: all 0.2s;
    }
    span {
      color: var(--white);
      display: block;
      position: relative;
      font-size: 24px;
      transition: all 0.2s;
    }
    span.uppercase {
      text-transform: uppercase;
    }
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      left: 4px;
      bottom: 14px;
      right: 12px;
      border-radius: $border-r;
      background: linear-gradient(90deg, #232323, #4a4a4a);
      box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
      border-left: 1px solid #0004;
      border-bottom: 1px solid #0004;
      border-top: 1px solid #0009;
      transition: all 0.2s;
    }
    &:hover:before {
      background: linear-gradient(90deg, #232323, #898989);
    }
    &:active {
      box-shadow: inset 0px 0 0px rgba(0, 0, 0, 0.15), 
        inset 0px 0px 0px rgba(0, 0, 0, 0.25), 
        0 0 0 0px rgba(0, 0, 0, 0.75), 
        0px 0px 0px rgba(0, 0, 0, 0.4);
      img {
        transform: translateY(-2px);
        transition: all 0.2s;
      }
      span {
        transform: translateY(-2px);
        transition: all 0.2s;
      }
    }
    &:active:before {
      right: 10px;
      content: '';
      box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25), 0px 0px 0px rgba(0, 0, 0, 0.15);
    }  
    &:focus-visible{
      outline: none;
    }    
  }
}
.backspace {
  flex-grow: 1; 
  img {
    width: 30px;
    height: 30px;
  }
}
.tab {
  width: 100px;
}
.capslock {
  width: 140px;
  transition: $transition;
  span {
    transition: $transition;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--grey-light);
    margin-right: 90px;
  }
}
.capslock.active{
      box-shadow: inset 0px 0 0px rgba(0, 0, 0, 0.15), 
        inset 0px 0px 0px rgba(0, 0, 0, 0.25), 
        0 0 0 0px rgba(0, 0, 0, 0.75), 
        0px 0px 0px rgba(0, 0, 0, 0.4);
      img {
        transform: translateY(-2px);
      }
      span {
        transform: translateY(-2px);
      }  
  span {
    background-color: greenyellow;
  }
}
.active:is(:not(.control-left,
.space,
.tab,
.backspace,
.shift-right,
.key-w,
.key-s,
.key-a,
.key-d)) {
  box-shadow: inset 0px 0 0px rgba(0, 0, 0, 0.15), 
    inset 0px 0px 0px rgba(0, 0, 0, 0.25), 
    0 0 0 0px rgba(0, 0, 0, 0.75), 
    0px 0px 0px rgba(0, 0, 0, 0.4);
  img {
    transform: translateY(-2px);
  }
  span {
    transform: translateY(-2px);
  }  
}
.backslash {
  position: relative;
  z-index: 1;
  transform: translateY(-2px);
}
.enter {
  z-index: 0;
  width: 80px;
  transform: rotateX(20deg);
  right: 0;
  @media screen and (min-width: 1200px) {
    height: 160px;
    top: 74px;
    position: absolute;
    img {
      margin-top: -40px;
    }
    &:after {
      content: '';
      position: absolute;
      left: -2px;
      bottom: -1px;
      height: 82px;
      width: 40px;
      border-top-right-radius: 6px;
      background: var(--grey-light);
      box-shadow: -35px -30px 10px rgba(255, 255, 255, 0.25), 30px 5px 20px rgba(0, 0, 0, 0.15);
      border-left: 1px solid #0004;
      border-bottom: 1px solid #0004;
      border-top: 1px solid #0009;
      transition: all 0.2s;
    }
  }
}
.shift-left {
  width: 100px;
}
.shift-right {
  flex-grow: 1;
}
.control-left {
  width: 120px;
}
.language {
  span {
    margin-left: 25px;
    font-size: 15px;
  }
  img {
    order: 2;
    margin-right: 30px;
  }
}
.control-left,
.option-left {
  span {
    font-size: 15px;
  }
  img {
    margin-left: 25px;
  }
}
.command-left {
  img {
    margin-left: 40px;
  }
}
.command-right,
.command-left {
  span {
    font-size: 12px;
  }
  width: 90px;
  @media (min-width: 1200px) {
    width: 110px;
    span {
      font-size: 15px;
    }
  }
}
.space {
  flex-grow: 1;
}
.option-right {
  span {
    font-size: 15px;
  }
  img {
    margin-right: 25px;
  }
}
.command-right {
  img {
    margin-left: -50px;
  }
}
.arrow-left,
.arrow-right,
.arrow-up,
.arrow-down {
  transition: $transition;
  height: 40px;
}
.arrow-left,
.arrow-right {
  align-self: flex-end;
}
.arrow-down {
  bottom: 0px;
  position: absolute;
  right: 84px;
}
.arrow-up {
  align-self: flex-start;
}
.control-left,
.space,
.tab,
.backspace,
.shift-right,
.key-w,
.key-s,
.key-a,
.key-d {
  background: linear-gradient(180deg, rgb(31, 53, 53), rgb(29, 57, 57));
  box-shadow: inset -8px 0 8px rgb(30, 44, 44), 
    inset 0px -8px 8px rgb(14, 22, 22), 
    0 0 0 2px rgb(23, 31, 31), 
    10px 20px 25px rgb(26, 42, 42);  
  &:hover:before {
    background: linear-gradient(90deg, rgb(21, 35, 35), rgb(77, 128, 128));
  }
  &::before {
    content: '';
    background: linear-gradient(90deg, rgb(21, 35, 35), rgb(44, 81, 81));
      box-shadow: -10px -10px 10px rgb(81, 112, 112), 10px 5px 10px rgb(32, 44, 44);
      border-left: 1px solid rgb(72, 95, 95);
      border-bottom: 1px solid rgb(46, 79, 79);
      border-top: 1px solid rgb(24, 40, 40);
  }
}
.active:is(.control-left,
.space,
.tab,
.backspace,
.shift-right,
.key-w,
.key-s,
.key-a,
.key-d,
.arrow-down,
.arrow-left,
.arrow-right,
.arrow-up) {
  box-shadow: inset 0px 0 0px rgb(30, 44, 44), 
  inset 0px 0px 0px rgb(14, 22, 22), 
  0 0 0 0px rgb(23, 31, 31), 
  0px 0px 0px rgb(26, 42, 42); 
  img {
    transform: translateY(-2px);
  }
  span {
    transform: translateY(-2px);
  }  
}